*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
}

#left{
    width: 70%;
    height: 100%;
}

#right{
    width: 30%;
    height: 100%;
}

#left-top{
    position: relative;
    height: 70%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1536882240095-0379873feb4e?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
    /* background-position: bottom; */
}

#left-top-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: 100px;
    background-color: white;
}

#left-top-icon i{
    position: absolute;
    font-size: 30px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


#left-bottom{
    height: 30%;
    width: 100%;
    background-color: black;
    color:white;
    padding: 50px;
}

#left-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#inner-flex-box h4{
    font-weight: 600;
    font-size: 14px;
}

#inner-flex-box p{
    opacity: 0.5;
    margin-top: 10px;
    font-size: 10px;
}

#right-top{
    position: relative;
    height: 70%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 70px;
}

#right-top a{
    text-decoration: none;
    color:black;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 25px;
}


#right-top #selected{
    position: relative;
    margin-left: 30px;
}

#right-top #selected::before{
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    left:-30px;
    background-color: black;
}

#right-top-icon{
    display: flex;
    position: absolute;
    left: 80%;
    flex-direction: column;
}

#right-top-icon i{
    font-size: 25px;
    margin-bottom: 20px;
}


#left-content{
    width: 45%;
    height: 100%;
}

#left-content h3{
    font-size: 30px;
}

#left-content h6{
    font-size: 16px;
    opacity: 0.5;
    width: 90%;
    font-weight: 400;
    margin-top: 10px;
}

#right-content{
    width: 45%;
    height: 100%;
}


#right-bottom{
    height: 30%;
    width: 100%;
    position: relative;
    background-size: cover;
    background-image: url('https://media.istockphoto.com/id/1415506846/photo/modern-minimal-white-office-corridor-or-hallway-interior-with-a-large-window-though-the.jpg?s=1024x1024&w=is&k=20&c=JIYXyeFL-j3KF9HSvsUC7Pq2tlTCQ1EMmvdhp8kVj4g=');
}

#capsule{
    width: 90%;
    padding: 30px;
    position: absolute;
    bottom: 5%;
    left: 5%;
    background-color: white;
    border-radius: 10px;
}

#capsule-button{
    display: flex;
    align-items: center;
    color:gray;
}

#capsule-button i{
    margin-left: 10px;
}


#capsule h4{
    font-size: 24px;
}

#capsule p{
    font-size: 14px;
    opacity: 0.5;
}

#row{
    display: flex;
    margin-top: 10px;
}

#rowele{
    display: flex;
}

#rowele i{
    margin-top: 5px;
    color:rgb(91, 215, 91);
}

#inner-flex-box{
    margin-left: 10px;
}

#inner-flex-box p{
    width: 100%;
    font-size: 9px;
}

#right-top-flower{
    width: 120px;
    height: 120px;
    background-image: url('https://images.unsplash.com/photo-1533038590840-1cde6e668a91?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bWluaW1hbHxlbnwwfHwwfHx8MA%3D%3D');
    background-size: contain;
    position: absolute;
    left: 0;
    bottom: 0;
}

#right-top-flower i{
    position: absolute;
    top:50%;
    left: 50%;
    background-color: black;
    color:white;
    font-size: 30px;
    padding: 10px;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    opacity:0.7;
}




